// Define variables for your color scheme

// For example:
$red: #e14594;
$blue: #182952;
$blue2: #2b3595;
$purple: #7045af;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
$white: #ffffff;
