.id-container {
  display: flex;
  align-items: center;
  height: 96px;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgrey;
}

.logo-show {
  height: 50px;
  width: 50px;
}

.video-card {
  margin-top: 5px;
  margin-bottom: 5px;
}
