.id-container {
  display: flex;
  align-items: center;
  height: 96px;
  flex-direction: row;
  justify-content: space-around;
  background-color: #f8f9fa;
}

.card-text {
  text-align: justify;
}

.card-body {
  padding: 0.25rem;
}

.logo-show {
  height: 70px;
  width: auto;
}

.video-card {
  margin-top: 5px;
  margin-bottom: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #ffffff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.company-show-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.video-screenshot {
  width: auto;
  height: auto;
}

.container{
  h3{
    margin-top: 15px;
    font-weight: bold;
  }
}

.company-show-banner {
  color: white;
  text-align: center;
  height: 30vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.company-show-banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.company-show-banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}
