.dashboard-stats {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  width: 70%;
  h2 {
    font-size: 82px;
    font-weight: bold;
    color: $blue;
  }
}

.question-card-body {
  padding: 20px 50px
}

.view-stat {
  border-left: 5px solid #6c757d17;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  justify-content: center;
  i {
    color: $white;
  }
}

.tutorial-card {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}

.help-desk {
  padding-left: 20px;
  font-weight: bold;
}
.card-body {
  padding: 15px 20px;
}

.question-card {
  width: auto;
  border-radius: 25px;
  margin: 15px 0;
  border: none;
  box-shadow: 0 15px 35px rgba(50,50,93,.075), 0 5px 15px rgba(0,0,0,.02);
}

.team-card {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  // align-items: center;

  p {
    margin: 0;
    font-size: 20px;
  }
  i {
    // margin-right: 5px;
  }
}

.dash-color {
  background-color: #f9f9fa;
}

.dashboard-section {
  border-radius: 25px;
  box-shadow: 0 15px 35px rgba(50,50,93,.075), 0 5px 15px rgba(0,0,0,.02);
  position: relative;
}

.sub-heading {
  background-color: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  border-radius: 25px 25px 0px 0px;
}
// .dashboard-title {
//   margin-left: 20px;
//   margin-top: 10px;
// }

.dashboard-user {
  color: $blue;
}

.dashboard-left {
  width: 98%;
  background-color: $white;
  margin-top: 50px;
  border-radius: 25px 25px 25px 25px;
  h5 {
    margin: 0px;
    color: $black;
    font-weight: bold;
  };
}

.dashboard-right {
  width: 98%;
  margin-top: 50px;
  h5 {
    color: $black;
    font-weight: bold;
    padding: 25px 15px;
  };
}

.dashboard-tutorials {
  margin-bottom: 50px;
  height: 75vh;
  overflow: auto;
  h5 {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
  }
}

.dashboard-seperator {
  height: 85%;
  width: 5px;
  background: $gray;
}

.dashboard-tutorials-actions {
  margin-top: 35px;
  height: 20vh;
  display: flex;
  justify-content: space-around;
}

.dashboard-staff {
  margin-bottom: 35px;
  height: 55vh;
  overflow: auto;
  background: $white;
  h5 {
    display: flex;
    justify-content: space-between;
    padding: 25px 15px;
  }
}

.dashboard-questions {
  height: 50vh;
  overflow: auto;
  margin-bottom: 100px;
  h5 {
    color: $blue;
  };
}

.fas {
  color: $blue;
}

.dashboard-action {
  margin-left: 10px;
}

.dashboard-tutorial-questions {
  color: $blue;
  font-style: italic;
}

.button-size {
  font-size: 15px;
  height: auto;
  width: auto;
  padding: 3px 5px 3px 5px;
}

.mute-75 {
  opacity: 0.75;
}

.mute-50 {
  opacity: 0.50;
}
