.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  i {
    color: white;
  }
}

.tutorial-card {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}

.help-desk {
  padding-left: 20px;
  font-weight: bold;
}
.card-body {
  padding: 10px;
}

.question-card {
  width: auto;
  margin: 15px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
}

.team-card {
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;

  p {
    margin: 0;
    font-size: 20px;
  }
  i {
    margin-right: 5px;
  }
}

.dash-color {
  background-color: #f9f9fa;
}

.dashboard-section {
  border-radius: 5px;
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.1);
}

.dashboard-title {
  margin-left: 20px;
  margin-top: 10px;
}

.dashboard-user {
  color: $blue;
}

.dashboard-left {
  width: 98%;
  background-color: $white;
  h5 {
    padding-left: 10px;
    padding-top: 5px;
    color: $blue;
  };
}

.dashboard-right {
  width: 98%;
  background-color: $white;
  h5 {
    padding-left: 10px;
    padding-top: 5px;
    color: $blue;
  };
}

.dashboard-tutorials {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 50px;
  margin-top: 30px;
  height: 74vh;
  overflow: auto;
  h5 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 20px;
  }
}

.dashboard-tutorials-actions {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 30px;
  height: 20vh;
}

.dashboard-staff {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 37px;
  margin-top: 30px;
  height: 50vh;
  overflow: auto;
  h5 {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-top: 20px;
  }
}

.dashboard-questions {
  height: 50vh;
  overflow: auto;
  margin-bottom: 100px;
  h5 {
    color: $blue;
  };
}

.fas {
  color: $blue;
}

.dashboard-action {
  margin-left: 10px;
}

.dashboard-tutorial-questions {
  color: $blue;
  font-style: italic;
}

.button-size {
  font-size: 15px;
  height: auto;
  width: auto;
  padding: 3px 5px 3px 5px;
}

.mute-75 {
  opacity: 0.75;
}

.mute-50 {
  opacity: 0.50;
}
