.dashboard-title {
  margin-left: 20px;
  margin-top: 10px;
}

.dashboard-user {
  color: $blue;
}

.dashboard-left {
  width: 98%;
  background-color: $white;
  h5 {
    padding-left: 10px;
    padding-top: 5px;
    color: $blue;
  };
}

.dashboard-right {
  width: 98%;
  background-color: $white;
  h5 {
    padding-left: 10px;
    padding-top: 5px;
    color: $blue;
  };
}

.dashboard-tutorials {
  border: 1px solid $black;
  margin-bottom: 50px;
  margin-top: 30px;
  height: 75vh;
  overflow: auto;
}

.dashboard-tutorials-actions {
  border: 1px solid $black;
  height: 20vh;
}

.dashboard-staff {
  border: 1px solid $black;
  margin-bottom: 37px;
  margin-top: 30px;
  height: 50vh;
  overflow: auto;
}

.dashboard-questions {
  border: 1px solid $black;
  height: 50vh;
  overflow: auto;
  margin-bottom: 100px;
  h5 {
    padding-left: 10px;
    padding-top: 5px;
    color: $blue;
  };
}

.fas {
  color: $blue;
}

.dashboard-action {
  margin-left: 10px;
}

.dashboard-tutorial-questions {
  color: $blue;
  font-style: italic;
}

.button-size {
  font-size: 15px;
  height: auto;
  width: auto;
  padding: 3px 5px 3px 5px;
}
