.sign-up-form {
  border-radius: 12.5px;
  background-color: $white;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.075), 0 5px 15px rgba(0, 0, 0, 0.02);
  // border: 1px solid #dee2e6c7;
  margin-top: 5vh;
  padding: 30px 50px 30px 50px;
  h3 {
    color: $blue;
    padding-bottom: 10px;
  }
}

.sign-up-button {
 background-color: #2C3892;
 color: white;
}

.devise-buttons {
  margin-top: 20px;
}
