

.video-area {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5vh;
  height: 470px;
  padding: 0 7.5vh;
}

.video-player {
  height: 100%;
  width: 65vw;
}

.guide {
  width: 100%;
  margin-left: 5px;
  flex: 1 0 35vw;
  padding: 30px 20px;
  margin-top: -20px;

.steps-area {
    margin-top: 10px;
    overflow: scroll;
    overflow-x: hidden;
    height: 550px;
    flex: 1 0 35vw;
    padding: 30px 20px;
    border-radius: 25px;
    border: none;
    box-shadow: 0 15px 35px rgba(50,50,93,.075), 0 5px 15px rgba(0,0,0,.02);
    background-color: $white;
  }

}

.loop-btn-blue {
  background-color: $blue;
  color: $white;
}



.my-player-dimensions {
  height: 28vh;
  width: 50vw;
}

.video-js {
    position: relative !important;
    width: auto !important;
    height: 100% !important;
}

.vjs-poster {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.QA-area {
  height: auto;
  width: 65vw;
  padding: 0 7.5vh;
  margin-top: 5vh;
  margin-bottom: 75px;
}

.step {
  margin: 0px;
}

.video-js.vjs-16-9 {
  padding: 0px !important;
}

.tutorial-show-description {
  width: 55vw;
  margin: 2vh 7.5vh;
  padding-left: 1vw;
  border: none;
  box-shadow: 0 15px 35px rgba(50,50,93,.075), 0 5px 15px rgba(0,0,0,.02);
  background-color: $white;
  padding: 2vh 2vh 2vh 2vh;
  border-radius: 25px;

.tutorial-title {
    font-size: 23px;
    color: $blue;
    padding-bottom: 15px;
}
  strong {
    margin-top: 5px;
  }
  .materials-list{
    margin-top: 10px;
  }
}

.view-btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  justify-content: center;
}

.question {
  margin: 25px;
}

.answer-body {
  margin: 5px 20px;
}

.QA-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}
