<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="<%= root_path %>">Tutoria</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse nav-con" id="navbarsExample04" style="">
    <div>
      <ul class="navbar-nav">
        <li>
          <% if current_user %>
          <%= link_to dashboard_path, class: "nav-link" do %>
          Dashboard
          <% end %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_user %>
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
          Log out
          <% end %>
          <% else  %>
          <%= link_to new_user_session_path, class: "nav-link" do %>
          Log In
          <% end %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <form class="form-inline my-2 my-md-0  mr-auto">
      <input class="form-control search-bar-tut" type="text" placeholder="Search">
    </form> -->
