<div>
  <div class="card-body">
    <h6>
      <%= link_to tutorial.title, company_tutorial_path(tutorial.company.id, tutorial.id) %>
    </h6>
    <h6 class="card-subtitle mb-2 text-muted"><%= tutorial.views.count %> views</h6>
    <%= link_to edit_company_tutorial_path(@company.name, tutorial.id), class: "btn btn-primary btn-circle", title: "Edit" do%>
      <i class="fas fa-pencil-alt"></i>
    <% end %>
    <%= link_to company_tutorial_path(@company.name, tutorial.id), method: :delete, class: "btn btn-primary btn-circle", title: "Delete" do%>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  </div>
</div>
<hr>


