<div class="video-area">
  <div class="video-upload">
    <form action="/file-upload"
      class="dropzone"
      id="my-awesome-dropzone">
    </form>
  </div>
  <div class="steps-area">
  <div id="step-" class="step" data-time="" style="">
    <h5></h5>
    <p></p>
  </div>
  </div>
</div>
<div class="QA-area">

</div>
