<!-- Header -->
<header class="header fadeout header-inverse home-fullscreen" style="background-image: linear-gradient(to bottom, #243949 0%, #517fa4 100%);">
  <div id="particles-js">
</div>

  <div class="container">
    <div class="row h-full">
      <div class="col-12 text-center align-self-center">
        <h1 class="fs-50 fw-600 lh-15 hidden-sm-down element"><span class="text-primary" data-type="Authors, Startups, Entrepreneurs, SaaS, WebApps"></span></h1>
        <br>
        <p class="fs-20 hidden-sm-down"><strong>Tutoria</strong> is a mordern and fully customisable web app that allows you to digitalise instructions for your business</p>
        <br>
        <hr class="w-60 hidden-sm-down">
        <br>
        <a class="main-button btn btn-xl btn-round btn-primary fs-20 fw-500 w-350 shadow-3 hidden-sm-down" href="#">Get Started</a>

        <br>
        <p class="mt-2 mt-md-4"><a href="https://themeforest.net/item/thesaas-responsive-bootstrap-saas-software-webapp-template/19778599?license=extended&open_purchase_for_item_id=19778599&purchasable=source&ref=thethemeio"><small>or purchase an Extended License</small></a></p>
      </div>

      <div class="col-12 align-self-end text-center pb-70">
        <a class="scroll-down-2 scroll-down-inverse" href="#" data-scrollto="section-demo"><span></span></a>
      </div>
    </div>
  </div>
</header>

<!-- Main container -->
<main class="main-content">
  <!-- SAMPLE -->
  <section class="section overflow-hidden" id="section-demo">
    <div class="container">
      <header class="section-header">
        <small>Demo</small>
        <h2>Sample Tutorials</h2>
        <hr>


      <div class="row gap-y text-center">

        <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="0">
          <p><a href="demo-bootstrap.html"><img class="shadow-2 hover-shadow-5" src=<%= image_path "liquior.png" %> alt="demo bootstrap landing"></a></p>
          <p><strong>Ikea</strong></p>
        </div>


        <div class="col-12 col-md-6 col-lg-4 hidden-sm-down" data-aos="fade-up" data-aos-delay="150">
          <p><a href="demo-slack.html"><img class="shadow-2 hover-shadow-5" src=<%= image_path "cooking.png" %> alt="demo slack landing"></a></p>
          <p><strong>Mob Kitchen</strong></p>
        </div>


        <div class="col-12 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="300">
          <p><a href="demo-trello.html"><img class="shadow-2 hover-shadow-5" src=<%= image_path "liquior.png" %> alt="demo helpato landing"></a></p>
          <p><strong>Liqour</strong></p>
        </div>
      </div>
    </div>
  </section>
</main>

<section class="section bg-grey1 pb-0 overflow-hidden">
  <div class="container">
    <header class="section-header">
      <small><strong>Feature 3</strong></small>
      <h2>Clear, Faster, Functional</h2>
      <hr>
      <p class="lead">Completely leverage other's covalent products whereas covalent manufactured products.</p>
    </header>

    <div class="row gap-y text-center">
      <div class="col-md-3 offset-md-1">
        <span class="text-info fs-50">100+</span><br>
        <p>Screens</p>
      </div>
      <div class="col-md-4">
        <span class="text-info fs-50">6.7x</span><br>
        <p>Faster</p>
      </div>
      <div class="col-md-3">
        <span class="text-info fs-50">12</span><br>
        <p>Mockups</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <header class="section-header">
      <h2>Features</h2>
      <hr>
      <p class="lead">We waited until we could do it right - then we did!</p>
    </header>
    <div class="row">
      <div class="col-12 col-md-6 col-xl-4 text-center">
        <i class="fa fa-tv fs-25 mb-3 text-secondary"></i>
        <h5>Responsive</h5>
        <p>Your website works on any device: desktop, tablet or mobile.</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 text-center">
        <i class="fa fa-wrench fs-25 mb-3 text-secondary"></i>
        <h5>Customizable</h5>
        <p>You can easily read, edit, and write your own code, or change everything.</p>
      </div>
      <div class="col-12 col-md-6 col-xl-4 text-center">
        <i class="fa fa-wrench fs-25 mb-3 text-secondary"></i>
        <h5>Documented</h5>
        <p>As you can see in the source code, we provided a comprehensive documentation.</p>
      </div>
    </div>
  </div>
</section>
<section class="section section-inverse sign-up-banner" style="background-color: #8ea6e6">
  <div class="container">
    <div class="row align-items-center">
      <div></div>
      <div class="col-12 col-md-9 text-center align-items-center">
        <h4>Do you need a digitalised instructions for your business?</h4>
        <a class="sign-up-button btn btn-lg btn-round btn-white" href="#">Sign up</a>
      </div>
    </div>
  </div>
</section>



<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="http://threejs.org/examples/js/libs/stats.min.js"></script>


<script>
  particlesJS("particles-js", {"particles":{"number":{"value":95,"density":{"enable":true,"value_area":800}},"color":{"value":"#ffffff"},"shape":{"type":"circle","stroke":{"width":0,"color":"#000000"},"polygon":{"nb_sides":5},"image":{"src":"img/github.svg","width":100,"height":50}},"opacity":{"value":0.5,"random":false,"anim":{"enable":false,"speed":1,"opacity_min":0.1,"sync":false}},"size":{"value":3,"random":true,"anim":{"enable":false,"speed":40,"size_min":0.1,"sync":false}},"line_linked":{"enable":false,"distance":150,"color":"#ffffff","opacity":0.4,"width":1},"move":{"enable":true,"speed":6,"direction":"none","random":false,"straight":false,"out_mode":"out","bounce":false,"attract":{"enable":false,"rotateX":600,"rotateY":1200}}},"interactivity":{"detect_on":"canvas","events":{"onhover":{"enable":true,"mode":"repulse"},"onclick":{"enable":true,"mode":"push"},"resize":true},"modes":{"grab":{"distance":400,"line_linked":{"opacity":1}},"bubble":{"distance":400,"size":40,"duration":2,"opacity":8,"speed":3},"repulse":{"distance":200,"duration":0.4},"push":{"particles_nb":4},"remove":{"particles_nb":2}}},"retina_detect":true});
  var count_particles, stats, update; stats = new Stats; stats.setMode(0); stats.domElement.style.display = 'none'; stats.domElement.style.left = '0px'; stats.domElement.style.top = '0px'; document.body.appendChild(stats.domElement);
  count_particles = document.querySelector('.js-count-particles'); update = function() { stats.begin(); stats.end(); if (window.pJSDom[0].pJS.particles && window.pJSDom[0].pJS.particles.array) { count_particles.innerText = window.pJSDom[0].pJS.particles.array.length; } requestAnimationFrame(update); }; requestAnimationFrame(update);;
</script>
