<div class="company-show-banner">

</div>

<div class="id-container">
  <!-- Logo -->
  <img src="<%= asset_url('logo.png') %>" alt="logo" class="logo-show">
  <!-- Company Name -->
  <h1>Le Wagon</h1>
  <div>
    <!-- Video Creator Button -->
    <button type="button" class="btn btn-secondary">Go to website</button>
  </div>
</div>

<div class="container">
  <h3>Uploads</h3>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 ">
      <div class="video-card" style="width: auto;">
        <img src="<%= asset_url('drag.png') %>" alt="logo" class="video-screenshot">
        <div class="card-body">
          <h6 class="card-title" href="#"><strong>How to Make a Soda Fountain</strong></h6>
          <p class="card-text">Make a Soda Fountain Machine with 3 Different Drinks at Home.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="video-card" style="width: auto;">
        <img src="<%= asset_url('drag.png') %>" alt="logo" class="video-screenshot">
        <div class="card-body">
          <h6 class="card-title" href="#"><strong>How to Make a Soda Fountain</strong></h6>
          <p class="card-text">Make a Soda Fountain Machine with 3 Different Drinks at Home.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="video-card" style="width: auto;">
        <img src="<%= asset_url('drag.png') %>" alt="logo" class="video-screenshot">
        <div class="card-body">
          <h6 class="card-title" href="#"><strong>How to Make a Soda Fountain</strong></h6>
          <p class="card-text">Make a Soda Fountain Machine with 3 Different Drinks at Home.</p>
        </div>
      </div>
    </div>
  </div>
</div>

