<div class="id-container">
<!-- Logo -->

<!-- Company Name -->
<h1>ABC Ltd.</h1>
<!-- Buttons -->
<button type="button" class="btn btn-secondary">Tutorial Studio</button>
</div>
<h3>Uploads</h3>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="width: auto;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">How to Make a Soda Fountain </h5>
          <p class="card-text">Make a Soda Fountain Machine with 3 Different Drinks at Home.</p>s
          <p>303 Views</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: auto;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">How to Make a Soda Fountain </h5>
          <p class="card-text">Make a Soda Fountain Machine with 3 Different Drinks at Home.</p>s
          <p>303 Views</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: auto;">
        <img class="card-img-top" src=".../100px180/" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">How to Make a Soda Fountain </h5>
          <p class="card-text">Make a Soda Fountain Machine with 3 Different Drinks at Home.</p>
          <p>303 Views</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col">
      2 of 3
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>
